h1 {
    color: white;
    text-align: center;
}

body {
    background-image: url(..//img/beloni.jpeg);
    height: 100vh;
    background-size: cover;
}

.center-objects {
    text-align: center;
    color: white;
}
/* 
.ul {}

.ul li {
    list-style: none;
    display: inline-block;
    float: left;
}

.ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial;
    color: #1e1e1e;
}

* {
    margin: 0;
    padding: 0;
} */