h1 {
    color: black;
    text-align: center;
}

body {
    background-image: url(../img/back.jpeg);
    height: 100vh;
    background-size: cover;
}

.center-objects {
    text-align: center;
    color: black;
}